body {
    background-image: url("https://yt3.googleusercontent.com/HpkPE30MbSSZEI094js7sYZYn1P2RQrhWGDUU9mA5dc7brxw4vO-0JUQfVaRtjuo3yrZWAqV=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.r3 {
    width: 100%;
    height: 33.3%;
}

.c3 {
    width: 33.3%;
    height: 100%;
    position: relative;
    float: left;
}

.Titel {
    text-align: center;
    font-size: 5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: pink;
    -webkit-text-stroke-width: 0.125px;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    border: 7px solid orange;
}

img:hover {
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 10px 10px 10px pink;
}

.Info {
    text-align: center;
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Pixelify Sans", sans-serif;
}

.Quiz {
    text-align: center;
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Media {
    text-align: center;
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}