body {
    background-image: url(https://yt3.googleusercontent.com/HpkPE30MbSSZEI094js7sYZYn1P2RQrhWGDUU9mA5dc7brxw4vO-0JUQfVaRtjuo3yrZWAqV=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Home {
    font-size: 3em;
    color: yellow;
    font-weight: bold;
    font-style: italic;
    font-family: "Playwrite AT", sans-serif;
}

.Align {
    max-width: 100%;
    text-align: center;
}

.mediaGrid {
    display: grid;
    grid-template-columns: 	repeat(auto-fill, minmax(500px, 1fr));
}

.mediaElement {
    border: 2px solid pink;
    padding: 3%;
}

img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    aspect-ratio: 16/9;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}