body {
    background-image: url(https://yt3.googleusercontent.com/HpkPE30MbSSZEI094js7sYZYn1P2RQrhWGDUU9mA5dc7brxw4vO-0JUQfVaRtjuo3yrZWAqV=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Home {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Quiz {
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.Info {
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-family: "Anton", sans-serif;
}

.Media {
    font-size: 3em;
    color: orange;
    font-weight: bold;
    font-style: italic;
    font-family: "Playwrite AT", cursive;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    grid-gap: 10px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    aspect-ratio: 16/9;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}